[2016-12-19 23:56] jdiazcano opened #1 "Cleanup and organise build scripts"
Dependencies should be inside the gradle folder and importing them is the correct way to use them so a cleanup must be done there.

[2016-12-20 00:11] jdiazcano opened #2 "Add license, it'll be apache2 or mit"

[2016-12-20 23:45] jdiazcano opened #3 "Create Git config loader"
A new module should be created in order to be able to grab properties/json files from Git, any public/private repository even with ssh key!

[2016-12-20 23:49] jdiazcano opened #4 "Create SystemSettingConfigLoader"
Settings should be also able to be configured from the system settings:

-Ddatabase.url=test.database.com

[2016-12-20 23:50] jdiazcano opened #5 "Create overriding config provider"
A new config provider should be created where you can just pass in a var args of config loaders and the provider will be able to select the setting of the first one.

I'm not sure if that's really performant but should be fine:

1- Try to grab from the first loader
1.1- If it's non empty then return it
1.2- else try to grab the setting from the next loader

[2016-12-21 19:43] jdiazcano opened #6 "Improve README"
Right now the readme is under construction and it should look nice!

[2016-12-21 21:27] jdiazcano commented on #2
Added apache 2 license

[2016-12-21 21:27] #2 closed, assigned to jdiazcano

[2016-12-21 21:28] jdiazcano commented on #6
Now the README has an example, a quick start and the license

[2016-12-21 21:28] #6 closed, assigned to jdiazcano

[2016-12-21 21:37] jdiazcano opened #7 "RuntimeException sometimes in tests"
Exception in thread "TimeReloadStrategy" java.lang.RuntimeException: No state found: INIT EOF
	at com.beust.klaxon.StateMachine.next(Parser.kt:74)
	at com.beust.klaxon.Parser.parse(Parser.kt:211)
	at com.jdiazcano.konfig.loaders.JsonConfigLoader.loadProperties(JsonConfigLoader.kt:42)
	at com.jdiazcano.konfig.loaders.JsonConfigLoader.reload(JsonConfigLoader.kt:37)
	at com.jdiazcano.konfig.providers

[2016-12-22 20:32] jdiazcano opened #8 "Add HOCON config loader"
HOCON seems to be a nice parser for json that can even be flattened into simple strings so would be nice to have a separated module for it

https://github.com/typesafehub/config#other-apis-wrappers-ports-and-utilities

[2016-12-22 20:40] jdiazcano opened #9 "YAML config loader"
Create another module for YAML config files

[2016-12-22 20:47] jdiazcano opened #10 "Try ByteBuddy instead of Proxies for interface binding"
https://github.com/raphw/byte-buddy

[2016-12-23 23:37] jdiazcano commented on #5
This is being worked on the branch feature/override-provider and it is mostly working!

[2016-12-25 01:02] #5 closed, assigned to jdiazcano

[2016-12-25 14:50] jdiazcano commented on #10
This should include performance testing

Also, the binding invocation handler could be wrapped into an interface so it is possible to have Proxy based binding (for whoever prefer it) and ByteBuddy based binding

[2017-01-06 01:05] jdiazcano commented on #10
This is almost done, the performance is still missing.

Now there's no invocation handler or anything, the interface is Binder which is overriden by extending the AbstractConfigProvider so you can provide the method that you like most to bind interfaces. Right now there are two ways of binding interfaces, Proxy and ByteBuddy which will be part of an external dependency due to transitive dependenci

[2017-01-07 11:51] jdiazcano commented on #10
Since I have modularised the project inside this issue there is no point of leaving this to 0.5 milestone so i'm reassigning this to 0.3

[2017-01-07 12:15] #10 closed, assigned to jdiazcano

[2017-01-07 12:21] jdiazcano commented on #7
This seems to be related to an issue wiht my mac and intellij, it has never happened on windows or in the CI!

[2017-01-07 15:19] jdiazcano commented on #1
They are a little bit cleaned up now but dependencies still have to go in their own file and apply them from wherever we want to use them

[2017-01-07 20:21] jdiazcano opened #12 "Javadocs!"
Write all the things in the javadocs. Right now there is none and is sad :(

[2017-01-07 22:49] #8 closed, assigned to jdiazcano

[2017-01-08 00:13] rocketraman opened #14 "Support environment variables"
Support binding environment variables to configuration (12-factor app compatible).

Spring Boot does a particularly good job at this, by mapping properties defined internally to corresponding idiomatic environment variable syntax e.g. `foo.bar.baz` -> `FOO_BAR_BAZ`. They also support some flexibility in the mapping ([relaxed binding](https://docs.spring.io/spring-boot/docs/current/reference/html/b

[2017-01-08 01:29] jdiazcano commented on #12
Added a bunch of javadocs, that will be enough for now, later I will create better examples in the README

[2017-01-08 01:29] #12 closed, assigned to jdiazcano

[2017-01-08 11:05] jdiazcano commented on #9
Yaml libraries don't seem to be too friendly to work with in a friendly way, everything is an object etc. Since Hocon is a superset of Yaml then I will leave this for later

[2017-01-08 12:02] #9 closed, assigned to jdiazcano

[2017-01-09 19:46] jdiazcano opened #15 "Bytebuddy binding is not working properly"
Right now there are two issues with Bytebuddy:

1. It will not reload
2. It does not accept nested binding so if you have an Interface that references another Interface it will just throw an exception

[2017-01-09 19:54] jdiazcano commented on #7
Hasn't happened since the creation of the issue and I am using another computer so it is computer-related bug

[2017-01-09 19:54] #7 closed, assigned to jdiazcano

[2017-01-10 01:00] #15 closed, assigned to jdiazcano

[2017-01-10 01:15] jdiazcano opened #17 "Performance benchmarks"
There should be general performance benchmarks with/without caching. With/without binding.

Also Bytebuddy vs java proxy performance should be tested

[2017-01-12 22:37] jdiazcano commented on #14
@rocketraman I have done this:

1. FOO_BAR_BAZ -> foo.bar.baz
2. FOO-BAR-BAZ -> foo.bar.baz

So now you can have environment variables and use them like that. Any other improvements?

[2017-01-12 22:56] rocketraman commented on #14
Awesome. Personally, I could do without the version with "-"; environment variables use `_` pretty idiomatically. I would add a couple more to deal flexibly with camelcase:

[code]

[2017-01-12 23:06] jdiazcano commented on #14
Transformations can be applied easily but my question is: How would I detect that FOOBAR are two words?

[2017-01-12 23:09] rocketraman commented on #14
Are you not seeing the property names that need to be bound, and then going to look for sources? For example, if I want to bind property `fooBar.baz`, I would see if env variable `FOO_BAR_BAZ` or `FOOBAR_BAZ` exists.

If you are going from sources to property names, then I guess you can't do this easily. But wouldn't this approach result in too many bindings? And how would you look up properties i

[2017-01-12 23:21] jdiazcano commented on #14
It's not a mapping exactly, I just extract the environment variables, transform it and add it to the map properties.

I will give this a second thought then

[2017-01-17 19:13] jdiazcano commented on #14
I have been thinking about this:

1. If I can't get a list of properties when initialising the loader then the maker of the Loader/Provider will be the one who will have to cache them or make the call once it's asked. I think that is responsibility for each Loader/Provider.

2. Then I think two kind of Loaders should be done, `CachedEnvironmentConfigLoader` and `EnvironmentConfigLoader`, one will

[2017-01-17 21:03] rocketraman commented on #14
That sounds great. If your Loader interface is able to handle both a "pull" and "push" then it is flexible enough to handle both types of cases embodied by `CachedEnvironmentConfigLoader` and `EnvironmentConfigLoader`.

That being said, I would question the need for `CachedEnvironmentConfigLoader` at all. The JVM loads environment variables into memory at startup already, so I doubt caching them w

[2017-01-17 23:03] jdiazcano commented on #14
The JVM loads the environment variables into memory but doesn't apply the transformations, and doing the transformations everytime someone ask for a setting I think would be worse that caching them once into "standard" dot notation config

[2017-01-17 23:05] rocketraman commented on #14
Also: related to environment variables, java also has "system properties" as you know. Once you have an implementation for env variables, it should be trivial to support system properties too. Spring Boot has a defined precedence i.e. in general properties are obtained in order of:

1. system properties
2. environment variables
3. bundled config file

The actual precedence in Spring Boot is more f

[2017-01-17 23:08] #4 closed, assigned to jdiazcano

[2017-01-17 23:14] jdiazcano commented on #14
Yes! Look at the merge I just did. It is for supporting these, a real simple Loader that relies on the call for System.getProperty()

I think Spring does too much and this library in my opinion should stay easy to use as it is right now.

In order to do that you would:

[code]

[2017-01-17 23:27] rocketraman commented on #14
Agreed.

I'm a bit confused, and perhaps I just don't understand your terminology. Let me try a use case.

My program defines a config property `fooBar.baz` which I want to inject into the constructor of a class. What I want to do as a user (ignoring system props for now) is:

1) See if either `FOOBAR_BAZ` or `FOO_BAR_BAZ` (transformed from `fooBar.baz`) exists in the environment, and if one does,

[2017-01-17 23:30] jdiazcano commented on #14
I see what you say. I will do it that way, I like it.

[2017-01-18 23:26] jdiazcano opened #18 "What to do when there's no setting"
Right now if there is no setting it will just return an empty string but this was done to have a fast prototype but now something must be done.

The best option is to throw an exception if there is no setting and adding a default value.

Probably changing the method to have a default null value/Optional.absent() value and throw the exception when there is no value.

[2017-01-19 23:58] jdiazcano commented on #14
I have added the environment variable loader. If you could take some minutes to test it would be awesome!

If you ask for fooBar, it will get the FOO_BAR property. Same for foo.bar

I will cache them so the next time you ask for that property it will know where to find it. When reloading it clears the cache and tries again if you ask for it another time.

What I am not sure if different transforma

[2017-01-20 01:35] rocketraman commented on #14
By `fooBar.baz`, what I really meant was a hierarchical config entry that may be represented in yaml as follows:

[code]

Which presumably is equivalent to a properties file like:

[code]

IMO, when mapping hierarchies like that to environment variables, the levels should be separated by `_` (which is what I think you already did), so the end result would be `FOO_BAR_BAZ` or `FOOBAR_BAZ` depending

[2017-01-20 10:39] jdiazcano commented on #14
In the test it says: ConfigLoaderTest:describe a environment config loader

If you go to that test you will see a javadoc comment saying that you have to pass some environment variables for it to pass. Every computer and OS is different so I couldn't define an environment variable that worked with everything. I know it is not ideal for tests but it's the best I could come up with

[2017-01-20 15:42] rocketraman commented on #14
Ok cool -- strange that the standard way of specifying gradle environment vars for tests doesn't seem to work. Perhaps it is because of Spek?

I note your test cases don't have a case for camel case conversion. Will camel case e.g. `fooBar` be converted to `FOOBAR` always? I kind of like that actually -- keeps it simple and consistent.

[2017-01-21 11:52] jdiazcano commented on #14
It is implemented but I forgot to write a test for it. I can remove it since it is just a transformation (one line).

Anyways, new transformations can be added to the loader (custom ones) like this:

[code]

What would you do? In my opinion I would do not include it in the default transformers but if you say it is useful then I will leave it

[2017-01-21 14:20] rocketraman commented on #14
Makes sense to me. Keep the default behavior as predictable as possible.

To keep it flexible, it might useful for callers of the library to be able to specify their desired transformers when the loader is constructed, OR add to the existing transformer list after construction. Maybe not in the first version though -- see if its something people ask for.

[2017-01-22 21:49] jdiazcano commented on #14
There is no test but it is actually implemented. Then I will close this, I will remove that transformer.

[2017-01-22 21:49] #14 closed, assigned to jdiazcano

[2017-01-28 21:34] jdiazcano opened #20 "Add new parsers"
1. BigDecimal
2. BigInteger
3. DateTime
4. Date

Maybe some other, any ideas?

[2017-01-29 19:20] jdiazcano commented on #18
Now there is a new argument (optional, default = null, but it will never return null, if null an exception will be thrown).

[2017-01-29 19:20] #18 closed, assigned to jdiazcano

[2017-01-30 23:26] jdiazcano commented on #20
Added these parsers:

BigInteger
BigDecimal
LocalDateTime
LocalDate
ZonedDateTime
OffsetDateTime
OffsetTime
Calendar
Date

[2017-01-30 23:26] #20 closed, assigned to jdiazcano

[2017-02-03 22:28] #3 closed, assigned to jdiazcano

[2017-03-24 23:48] jdiazcano commented on #1
Now versions and libraries are cleaned up!

[2017-03-24 23:48] #1 closed, assigned to jdiazcano

[2017-09-03 14:05] sleonidy opened #21 "EnvironmentConfigLoader and SystemPropertyConfigLoader returning "" for any key"
Hi,
EnvironmentConfigLoader and SystemPropertyConfigLoader  loaders are returning empty string for any key. So they are not usable in case of OverrideConfigProvider, when first provider is one of above.

[2017-09-04 19:17] jdiazcano commented on #21
Working on it

[2017-09-04 20:20] #21 closed, assigned to nobody

[2017-09-04 20:39] jdiazcano commented on #21
Fixed and pushed to 0.7.2 is now synchronizing on bintray!

[2017-10-07 11:11] jdiazcano opened #22 "Add S3 config source"
A new config loader must be created to fetch files from S3.

[2017-10-07 14:20] jdiazcano opened #23 "Update library versions"

[2017-10-08 13:00] jdiazcano commented on #23
Fixed in 19af0a9b440fe16b3f2a8bf62ccf380ceb9ab81a

[2017-10-08 13:00] #23 closed, assigned to nobody

[2017-10-15 18:25] jdiazcano opened #24 "Refactor plugins versions"
Move the plugin version number to the gradle/versions file.

[2017-10-15 18:28] jdiazcano opened #25 "Add SNS config reloader"
Reloader when S3 file is updated. This can be done by using SNS notification from S3 to SNS and getting that update in the library.

[2017-10-15 18:32] jdiazcano opened #26 "Notify which properties changed"
When reloading, the list of configuration changes should be listed so whomever is reloading can act to that. (Even if it shouldn't be needed because it shouldn't be used as static fields but with the binding)

[2017-10-15 18:35] jdiazcano opened #27 "JDBC config loader?"
Maybe in some way it would be nice to have a jdbc config loader to be able to use it with all the databases.

This has the inconvenience of nested properties.

`a.b` could be property B from table A but... what about `a.b.c` ?

Another thing is that it could have a properties table (defined when creating the loader) and the key would be `a.b` or `a.b.c`

[2017-10-15 18:38] jdiazcano opened #28 "Resolve environment variables"
Resolve environment variables with some kind of syntax

[2017-10-15 18:39] jdiazcano opened #29 "Resolve other properties"
Resolve other variables with some kind of syntax so you can just create a property based on another like `test=a`, `${test}hello` -> `ahello`

[2017-10-17 09:49] jdiazcano commented on #24
Can't be done

[2017-10-17 09:49] #24 closed, assigned to nobody

[2017-10-19 00:15] rocketraman opened #30 "`ConfigProviderTest` has no test for `nested.a`"
The `ConfigProviderTest` has no test for `nested.a`.

[2017-10-19 20:08] jdiazcano commented on #30
Is this a bug or just for more coverage?

I'm right now on a trip and I'll be back next week! I'll try to do it asap

[2017-10-21 14:01] jdiazcano commented on #30
Have in mind that there is a specific class for nesting even though I'm thinking in merging both.

[2017-10-21 20:50] rocketraman commented on #30
Well... here is my situation. I tried to create a (hocon) config like this:

`a.b.c = something`

And then I tried to reference it in the code like this:

`configProvider.bind<B>("a.b")`

where `B` looks like:

[code]

which didn't work. So I was looking for unit tests to see if this was a) a syntax error on my part, or b) something that isn't even supported. I didn't find any tests for this case.

[2017-10-21 20:52] jdiazcano commented on #30
I'll investigate

[2017-10-21 21:13] jdiazcano commented on #30
@rocketraman what provider are you using? If possible could you paste a snippet to reproduce?

in `ProviderWithHocon.kt` i've added a loader and a proxy provider

[code]

And it works

[2017-10-22 15:02] rocketraman commented on #30
@jdiazcano What do you know... I just tried it again and it worked perfectly. I'll close. Thanks!

[2017-10-22 15:02] #30 closed, assigned to nobody

[2017-10-22 15:47] jdiazcano commented on #30
I am still merging the changes for the tests.

[2017-10-22 17:15] rocketraman opened #32 "HOCON config resolving"
The HOCON specification (https://github.com/lightbend/config/blob/master/HOCON.md#substitutions) supports referencing properties like this:

[code]

which should result in `b` equal to `foobar`.

However, when attempting to use resolution like this via cfg4k, I get the following stack trace:

[code]

[2017-10-25 23:39] jdiazcano commented on #32
I think for now I will add support for this feature only in Hocon while I think if it should be done in a standard way inside the library. See #29 #28

[2017-10-26 21:45] jdiazcano opened #36 "Increase code coverage and bump version to 0.8"
After all the changes the coverage was down by 1%. It should be a good oportunity to invest some time to put it to 90% and bump the version.

Also #32 must be included.

[2017-10-29 20:38] #32 closed, assigned to jdiazcano

[2017-10-30 00:10] jdiazcano commented on #36
Done!

[2017-10-30 00:10] #36 closed, assigned to jdiazcano

[2018-01-12 04:57] rocketraman opened #40 "FileChangeReloadStrategy watcher uses incorrect test"
The `FileChangeReloadStrategy` watcher uses an incorrect test to check if the event corresponds to the configuration file.

The javadocs for `WatchEvent.context` [state](https://docs.oracle.com/javase/8/docs/api/java/nio/file/WatchEvent.html#context--) that the path returned is relative to the parent on which the watch is registered.

However, the current code just naively does `fileName == file`.

[2018-01-12 05:03] rocketraman commented on #40
Ah, I see this was fixed in 42983115d877cb3b8533b0273c7dcf4252af516d. Though I think that it will still fail in certain situations with soft links, since `toRealPath` is still not part of the test.

[2018-01-13 16:23] jdiazcano commented on #40
I will probably change it to `toRealPath()` but I still need to read more docs about it.

Sorry for the delay!

[2018-01-19 19:55] rocketraman opened #41 "ByteBuddyBinder creates a new class on every method invocation"
When using the ByteBuddy binder, every method invocation to a config object causes a new class to be created and loaded into memory. Instead, the binder should create the class only once, with the methods in the class reading the provider every time they are executed.

This is easy to reproduce. Create any config binding with ByteBuddy. Read a method on the config in a tight loop. Start the JVM wi

[2018-01-19 21:57] jdiazcano commented on #41
As a work around while I fix this the Proxy binder can be used to avoid this.

[2018-01-20 11:53] jdiazcano commented on #41
I have been investigating this and "it is (more or less) working as intended". Here are the points:

* Since the class implements an interface, right now I'm using the DEFAULT_CONSTRUCTOR strategy to simply instantiate it (this is a key point for the possible rework)
* This only happens when you call bind, not all new objects (for example you won't have problems using it with a get string)
* There

[2018-01-20 18:49] jdiazcano commented on #41
So! I have been working on this since the message and I have reworked a little bit the file `ByteBuddyConfigProvider.kt` with the next changes:

* Now the created class is done only once per `type` (this means, only once per Class -interface in this case-) and cached.
* Now the generated classes have three fields:
    * Configprovider
    * Prefix
    * Type
* When cached only a new instance will

[2018-01-20 18:57] jdiazcano commented on #41
I just merged it to master!

[2018-01-20 18:57] #41 closed, assigned to jdiazcano

[2018-01-20 22:16] rocketraman commented on #41
Awesome! Before I try the new code, here is a reliable reproduction recipe for this issue -- I believe the problem was manifesting in my code because of the `List<T>` in the config. You can see that the system defines the class `ItemConfig` twice for each loop iteration, once for each entry in the list:

Here is `test.conf`

[code]

And the program:

[code]

run with `-verbose:class` produces the

[2018-01-20 22:25] rocketraman commented on #41
... and indeed I can confirm that your latest changes fix the issue and that `ItemConfig` in the repro recipe above is defined only once! Nice.

[2018-01-21 00:41] rocketraman opened #43 "FileChangeReloadStrategy thread dies on Exception: no error handler"
The `FileChangeReloadStrategy` has no exception handler. This means that if an exception is thrown when the underlying config is updated -- for example, if the config is updated with invalid syntax -- the reload thread dies and no more config reloads are handled until the ConfigProvider is constructed again.

Instead, I think I would log a warning in this situation, but continue to monitor the fil

[2018-01-21 15:53] jdiazcano commented on #43
I will for sure add the `reloadErrorListener` feature (almost for sure today). I actually didn't think about configuration mistakes etc.

This will be the signature of the function inside the `ConfigProvider` interface.
[code]

For the logging... I might do it but that is not one of my priorities right now. With the experience I have seen that the logging for a (I'd say) relatively small library l

[2018-01-21 23:59] jdiazcano commented on #43
So I have added the listener, it is currently in master.

[code]

This is the final signature and for the logging you can open a new issue to be discussed there, please!

[2018-01-21 23:59] #43 closed, assigned to jdiazcano

[2018-01-22 07:01] rocketraman commented on #43
No need I think... I agree with your idea that logging is unnecessary and listeners are the way to go. Thanks!

[2018-01-25 23:45] jdiazcano commented on #40
Changed!

[2018-01-25 23:45] #40 closed, assigned to nobody

[2018-02-20 20:48] jdiazcano opened #47 "ConfigSources that wraps authorized URL calls"
Before @detouched commit it was not possible to fetch a single file from a basic authorization source. Now after his commit it is now possible. Related, he had the idea as the `cfg4k-git` has `JGit` as dependency you don't always want to introduce new dependencies so having some kind of easy authorization when dealing with git files it would be nice.

For now two utility `ConfigSources` should be

[2018-03-01 17:52] jdiazcano commented on #47
Added!

[2018-03-01 17:52] #47 closed, assigned to nobody

[2018-03-19 19:00] cojo opened #48 "ClassNotFoundException on $DefaultImpls"
Hi,
Love the concept of this library and that it appears to be actively maintained.

I'm trying to use it in a project, and running into an issue where it seems that it relies on interfaces having a `$DefaultImpls` which as far as I can tell will not be the case in the basic use cases listed in e.g. your examples?

I end up with a `ClassNotFoundException on Config$DefaultImpls` in https://github.c

[2018-03-19 19:04] cojo commented on #48
Before I forget - I'm using Kotlin 1.2.30 and Java 8 / 1.8 if that's helpful or important for whatever reason.

[2018-03-19 19:09] jdiazcano commented on #48
Taking a look. I'm not sure if inside an enum the `DefaultImpls` is different or something. Actually that's one of the things that I didn't think of, an enum with methods and default.

[2018-03-19 19:11] cojo commented on #48
Thanks for taking a look! Yeah that was one thought I had, but what was weird was that it seemed to be failing on this issue in the the base `Config` class regardless of the enum's involvement as I was testing different things out.

[2018-03-19 19:19] jdiazcano commented on #48
Ohhh, I think I know what's happening.

An enum class is a real class (not an interface) and it will not have `DefaultImpl` but real implementations. Let me try it and maybe there's a workaround defining an interface for the Enum.

[2018-03-19 19:23] jdiazcano commented on #48
Yes, that is exactly what is happening (I'll try to fix it to work with classes anyways though)

[code]

If you use it like that you won't have any problems

[code]

[2018-03-19 19:27] cojo commented on #48
I tried stripping out the enum entirely and actually get the same thing:
[code]

Note for context, that this error `setting server not found` is a red herring as it is actually swallowing the `ClassNotFoundException` I mentioned in the original post
![image](https://user-images.githubusercontent.com/2968663/37617577-c6f0db96-2b70-11e8-9592-2d4ed6c2ec67.png)

Any chance there might be two separate

[2018-03-19 19:28] cojo commented on #48
Current code is the same for the server portion, but this is all there is now in the Config.kt file:
[code]

[2018-03-19 19:30] jdiazcano commented on #48
Could you paste also the `properties` file changing all the strings for something else? It might be related to naming then

And if you want I'm available in kotlin slack.

[2018-03-19 20:28] jdiazcano commented on #48
So the real issue is that `Environment` and `System` loaders right now do not support binding due to the way that it is designed right now.

They still can be used with a normal `get<String>("server.host")`

[2018-04-16 13:45] tobad357 opened #49 "Vault Config"
I would be interested to load configs from [Vault](https://www.vaultproject.io/)
Would that be best implemented as a source or a provider?

[2018-04-16 22:37] jdiazcano commented on #49
I am unsure how Vault works. But here's more or less the rule of thumb.

A source is what gives you a Stream of the data bytes that will be read by a Loader. As I am not sure how Vault works, could you tell me what it returns when asking for something?

[2018-04-17 01:45] tobad357 commented on #49
If using the Vault Java Client then it returns a String
[code]

[JavaDoc](http://bettercloud.github.io/vault-java-driver/javadoc/)
[Java Client](https://github.com/BetterCloud/vault-java-driver)

[2018-04-17 07:49] jdiazcano commented on #49
Then you can use it as a Loader. The loader will just return the raw data and the provider is the one that will present it to you in a nice way.

But you need to do one change that is transforming the data. Right now it used dots as separator so you would have to transform it into slashes before querying vault

[2018-05-31 15:19] douglasalipio opened #50 "import com.jdiazcano.cfg4k.json.JsonConfigLoader"
Class not found!

[2018-06-02 15:09] jdiazcano commented on #50
Hello @douglasalipio I've got some questions:
1. Where are you using it?
2. How are you using it?

If you can give me a minimal example of it not working It would be easier for me to detect what is wrong.

[2018-06-26 19:22] rocketraman opened #51 "Resolving hocon variables does not work for quoted strings"
When resolving hocon variables, this works:

[code]

but this does not:

[code]

[2018-06-26 19:36] rocketraman commented on #51
Actually, looks like this may be a HOCON thing: it looks like substitutions are not made inside quoted strings. The spec (https://github.com/lightbend/config/blob/master/HOCON.md#substitutions) states:

Therefore, I will go ahead and close this! Thanks for the back and forth on Slack :-)

[2018-06-26 19:36] #51 closed, assigned to nobody

[2018-07-29 13:06] jdiazcano commented on #50
Closing.

[2018-07-29 13:06] #50 closed, assigned to nobody

[2018-07-30 17:20] rocketraman opened #52 "Hocon config mapper does not handle nulls"
The Hocon config mapper does not handle nulls.

https://github.com/jdiazcano/cfg4k/blob/master/cfg4k-hocon/src/main/kotlin/com/jdiazcano/cfg4k/hocon/HoconConfigMapper.kt#L19

According to the docs, `value.unwrapped()` can return `null` (which it does when the hocon config is something like `value = null`). This should get passed through to support setting `null` when the config interface defines a

[2018-07-30 19:34] jdiazcano commented on #52
This is fixed in:

* https://github.com/jdiazcano/cfg4k/commit/87821b6b7587c5c865fdd6286bf88fb14735f305
* https://github.com/jdiazcano/cfg4k/commit/9826f44f410681756a2f1c6ae2005e5102edcd14

If you need a release for this ping me in Slack, if not I'll wait for #48 which should be soon done.

[2018-07-30 19:34] #52 closed, assigned to nobody

[2018-08-18 11:45] jdiazcano commented on #22
Done, now you can use `S3ConfigSource`

[2018-08-18 11:45] #22 closed, assigned to nobody

[2018-08-18 12:45] jdiazcano commented on #48
Now both extends DefaultConfigLoader so merges and binding are supported.

The only caveat is that if you try to add value to an already set object a warning will be emitted.

[2018-08-18 12:45] #48 closed, assigned to nobody

[2018-08-29 17:04] rocketraman opened #53 "Spurious WARN at startup on Oracle JDK"
Minor issue with cfg4k 0.9.0: always get this `WARN` level message from `PropertyConfigLoader` at startup, using Oracle JDK 1.8:

[code]

[2018-08-31 10:21] jdiazcano commented on #53
This is going to be disabled the next version but for now it is ok, nothing is wrong.

There's a java.vendor and another key that is actually overridden due to property design.

Leaving it open for visibility

[2018-09-25 23:13] rocketraman opened #54 "HOCON substitutions, override via file and via environment/system prop"
HOCON substitutions work well within a single file. However, when the substituted value needs to be loaded from another higher priority source e.g. another HOCON config file, system prop, or environment, the substitution fails.

At least for a HOCON-only solution, one can inject the HoconConfigLoader with the pre-resolved substitutions:

[code]

However, when combining this with environment and/or

[2018-09-26 19:49] rocketraman commented on #54
As per our discussion on Slack this is a dup of https://github.com/jdiazcano/cfg4k/issues/29. Closing!

[2018-09-26 19:49] #54 closed, assigned to nobody

[2018-09-26 20:53] jdiazcano commented on #54
Adding more details:

The problem is that the substitutions are done by the HOCON library. Cfg4k isn't doing any kind of substitution and that's why a HOCON cannot be used to substitute the value from a preceding provider/loader.

[2019-04-03 10:56] Mingela opened #57 "Using of EnvironmentConfigLoader based provider requires all the intermediate 'nodes' to be declared"
Hello!
Firstly I used an `OverrideConfigProvider` combining two proxy config providers based on both an environment config loader and a property config loader (from the properties file) and everything worked well.
Then I decided to refactor the code to be able to load configs from the environment with an opportunity to use a secondary properties source if the config is not consistent after the 'fi

[2019-04-03 11:41] jdiazcano commented on #57
This is definitely a bug, there should be no need to have the root one. I'll try to handle this tonight!

[2019-04-03 21:01] jdiazcano commented on #57
Editing as I've been able to reproduce it. The problem is in the binding not in the getting of the properties!

[code]

[2019-04-03 22:49] jdiazcano commented on #57
TLDR: I have seen what is wrong but sadly I've found a bug with the new gradle/ohmyzsh/WSL that crashes my computer so it might be done tomorrow not today.

I have the fix which is basically using the same engine than the `PropertiesConfigLoader` is using.

-----------------------------------------------

Long explanation is that the environment properties worked the other way as everything else,

[2019-04-03 23:11] jdiazcano commented on #57
Hopefully should be fixed! For now not released but can be used with jitpack

[code]
2. Add the dependency: `com.github.jdiazcano:cfg4k:-MASTER`

[2019-04-04 06:33] Mingela commented on #57
Thank you very much Javier for the quick exhaustive reply and fix! Tried on `com.github.jdiazcano:cfg4k:master-SNAPSHOT`, worked well! Looking forward to see the fix in a release 😃

[2019-04-04 08:11] jdiazcano commented on #57
There's still something else I want to do, as well as cleaning up a little bit the code and remaking the whole test suite to get rid of spek 1. So it might take some time before the next release, if it is important for you to get it released, please ping me.

[2019-04-04 22:33] jdiazcano opened #59 "Remake tests"
Basically using Spek1 has been pretty hard since the start so finally let's get rid of it once and for all.

The substitutor would be [Kotlintest](https://github.com/kotlintest/kotlintest/) as it seems to be pretty good.

With the rewrite of all the tests, no code should change, and everything would be a port but also rethinking how they are organized as right now they are definitely not sorted. A

[2019-04-04 22:33] jdiazcano commented on #59
As an example, one of the tests that I did yesterday for the environment config loader:

[code]

[2019-04-06 03:21] tellisnz-shift opened #60 "Map of Strings?"
Is it possible to take a property with a Map<String, String>/Properties? I've tried creating parsers etc, but I couldn't get it to use my parser, and it seems the BindingInvocationHandler just throws SettingNotFound when trying to use any of the maps methods.

I even tried just creating a property that was a ConfigObject type and turn it into a map myself, but it threw a `SettingNotFound: Setting

[2019-04-06 04:37] tellisnz-shift commented on #60
The closest I can get is to have a List<Pair<String, String>> and create a Pair parser that splits a list of strings on a delimiter, like this:
[code]
for
[code]
But this is obviously a pretty hacky workaround... I'd just want this to work:
[code]
with
[code]

[2019-04-06 09:40] jdiazcano commented on #60
It should just work so it might be a bug, I'm trying to reproduce (with the new testing!)

As example, working with json: https://github.com/jdiazcano/cfg4k/blob/25a9cd518520c8bd1d8a244a0a12b0460553f69f/cfg4k-json/src/test/kotlin/com/jdiazcano/cfg4k/json/ConfigProviderTest.kt#L266

In case that I can't, could you tell which source, loader and provider that you are using?

[2019-04-06 09:56] jdiazcano commented on #60
Yeah, I can set a Map like:     `val mymap: Map<String, String>`

And it can be bound and retrieved, could you create a small snippet with the bug?

[2019-04-06 11:35] tellisnz-shift commented on #60
Argh, sorry, I realised I wasn't using latest - this is solved somewhere between 0.9.0 and 0.9.3. Thanks!

[2019-04-06 11:35] #60 closed, assigned to nobody

[2019-04-07 13:23] jdiazcano opened #61 "Reloading when merging"
### Description
Right now if you merge two ConfigLoaders there is no way to keep the reload. An empty reload will take its place.

One thing that could be done is that the reload is a function in the constructor or something that can also be merged/called one after the other, this needs a little bit of design!

### Acceptance criteria
* Document the fix in this issue
* Code changes and tests

[2019-04-26 15:19] Alexey-N-Chernyshov commented on #57
Hi, @jdiazcano! Have you had time to look into this?

[2019-04-26 15:29] jdiazcano commented on #57
The release is still not done (I encountered a Kotlin plugin bug, so I stopped for a while so they can have a way of reproducing it) but this is usable with jitpack. I'm also busy with my current work so it is hard for me to get a lot of time :(

The tests are 90% remade so it'll be done maybe this weekend.

[2019-04-26 20:31] jdiazcano commented on #57
Just published the release 0.9.4!

[2019-04-29 06:56] Mingela commented on #57
Thank you @jdiazcano! But it seems the fix is not contained there 😨 My test works with the `57-SNAPSHOT` version but fails on both `0.9.4` and `master-SNAPSHOT` (worked earlier) (same `com.jdiazcano.cfg4k.utils.SettingNotFound: Setting 'properties.groupone' not found.`)

[2019-04-29 19:55] jdiazcano commented on #57
I did a bad merge, could you please try with master-SNAPSHOT before I release 0.9.4.1?

[2019-04-30 06:49] Mingela commented on #57
Sure!
It works on both `db1460b781` and `-SNAPSHOT` versions but fails on `master-SNAPSHOT`. Most probably it is about some jitpack issue. These three versions must have got the same contents.
<img width="347" alt="Screen Shot 2019-04-30 at 09 47 21" src="https://user-images.githubusercontent.com/17858062/56944706-187c2400-6b2d-11e9-9c5c-a36014d9babc.png">
So I think everything should be fine now.

[2019-04-30 07:00] jdiazcano commented on #57
I see, I'll release a new one today then, anyways if you can confirm the test in the environmentconfigloadertest would be even better

[2019-04-30 18:32] jdiazcano commented on #57
Ok, 0.9.41 release is there now!

[2019-04-30 18:32] #57 closed, assigned to nobody

[2019-04-30 18:32] jdiazcano commented on #59
Done!

[2019-04-30 18:32] #59 closed, assigned to nobody

[2019-05-06 20:51] credmond-git opened #63 "[BUG] Unexpected crash in DefaultConfigLoader.get with IllegalArgumentException: Trying to get a key from a primitive"
**Describe the bug**
Since upgrading to com.jdiazcano.cfg4k:cfg4k-core:0.9.41 i am getting the following crash

Exception in thread "main" java.lang.IllegalArgumentException: Trying to get a key from a primitive
	at com.jdiazcano.cfg4k.loaders.DefaultConfigLoader.get(DefaultConfigLoader.kt:27)
	at com.jdiazcano.cfg4k.providers.DefaultConfigProvider.get(DefaultConfigProvider.kt:51)
	at com.jdiazcan

[2019-05-06 23:26] jdiazcano commented on #63
If it worked in 0.9.3 then it seems definitely a bug which I'll take a look tomorrow.

But! I would say that it is a weird way of using the library, what would be the end result that you would like to get?

I would so something like:

[code]

[2019-05-06 23:30] jdiazcano commented on #63
Now that I take a second look:

[code]

The bug is happening because you have "db.conn" and "db.conn.timeout.sec" and how it works is by splitting by dot and keep finding the child until it arrives to the latest one. BUT! here you have `db.conn` that has a value and children at the same time, something that isn't supported.

It might just work if you use the url as `db.conn.url`.

[2019-05-06 23:37] credmond-git commented on #63
Thanks for looking into it.
I have been treating the library as a key value store. I haven't been using the bind at all.
I have been exclusively using
`configProvider.get(key,javaClass, default)`
I haven't had any major structure on my keys, they are more names, so they may violate some expectations the library has.

I can change it to db.conn.url and i agree that it should fix the issue. But the

[2019-05-06 23:50] jdiazcano commented on #63
Yeah, the library doesn't get along well with not having a proper structure. I'll look more into it anyways and I might even try to make it work somehow. For example cresting a brand new config loader that doesn't look by the dots and saves everything flattened. The problem with that would be when using it with a provider and binding, the rest should all work properly.

It is my library but it is

[2019-05-07 00:01] credmond-git commented on #63
Thanks I appreciate the effort and dedication that must be involved in writing and maintaining an open source library.

[2019-06-05 06:42] dhakehurst opened #64 "Multiplatform"
Any thoughts about moving to a multiplatform implementation

[2019-06-05 17:44] jdiazcano commented on #64
I have been thinking about this a lot but I don't think right now I have the free time to actually make it happen. Mostly because I don't know the status of multiplatform and I would have to keep debugging Gradle. I've already tried creating a multiplatform version of this, with all the current modules named with the `jvm` prefix but it was definitely not trivial as I'm not too involved in the mul

[2019-08-02 11:09] #63 closed, assigned to nobody

[2019-09-20 07:16] rocketraman opened #65 "[BUG] FileChangeReloadStrategy doesn't deal properly with symlink changes"
**Describe the bug**
In some environments (Kubernetes), a config file can actually be a chain of symlinks. When the ConfigMap backing the chain of symlinks changes, Kubernetes doesn't update the real file itself, but instead just changes the symlinks to point to a different file entirely.

In Kubernetes, this layout may look like this:

[code]

and when the backing ConfigMap changes, K8S creates a

[2020-03-17 12:43] jdiazcano commented on #65
I just merged

[2020-03-17 12:43] #65 closed, assigned to nobody

[2021-05-07 01:46] rocketraman opened #67 "BinTray deprecated, move to Maven Central"
BinTray deprecated, this library should move to Maven Central.

[2021-11-13 07:47] rocketraman commented on #29
At least for environment variables, a workaround is to define the HOCON like this:

[code]

This does the environment variable based override directly in the HOCON via typesafe config.

[2022-01-17 19:41] rocketraman commented on #67
If anyone else comes across this, I'm publishing packages for `cfg4k` to Maven Central at group coordinates `com.github.rocketraman.cfg4k` i.e. replace `com.jdiazcano.cfg4k` with that value.

The code being published is at https://github.com/rocketraman/cfg4k.

[2022-01-17 20:44] rocketraman opened #70 "Library versions with known CVEs"
There are libraries with known CVEs in the published version of cfg4k -- mainly the s3 dependency brings in older versions of jackson and httpclient, and the jgit dependency also brings in an older version of httpclient.

This is fixed on my branch here: https://github.com/rocketraman/cfg4k/tree/library-updates-security.

[2022-01-18 21:24] jdiazcano commented on #70
Hello!

As you can see I don't really have that much time anymore and I don't know when I will have that time so if you want to continue supporting it that would be great.

If you wish, I will update this repository so it points to your fork!

[2022-01-20 15:47] rocketraman commented on #70
Ok @jdiazcano , I think adding a note in the README to point to my fork makes sense for now at least. Thanks!

[2022-01-20 15:51] rocketraman commented on #67
As per discussion in https://github.com/jdiazcano/cfg4k/issues/70 maintenance of this repo has moved (at least temporarily) to https://github.com/rocketraman/cfg4k. This issue is fixed there.

[2022-01-20 15:51] #67 closed, assigned to nobody

[2022-01-20 15:52] #70 closed, assigned to nobody

[2022-01-20 15:54] rocketraman commented on #64
I think a multiplatform implementation would need to use compile-time code generation via something like KSP, instead of a runtime approach as is used now via ByteBuddy.